<?xml version="1.0" encoding="utf-8"?>
<TestListeners xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime">
  <TestListener>
    <Name>TestRail listener</Name>
    <Description>Posts test execution results to TestRail</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly i:nil="true" />
    <Type i:nil="true" />
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  </TestListener>
</TestListeners>